div#cart{
    min-height: 65px;
    border: rgb(0, 0, 0) 1px solid;
    margin-top: 35px;
    padding: 8px;
    position: absolute;
    width: 100%;
    top: 40px;
    z-index: 100;
    background: rgb(233, 7, 7);

}
.cart-product{
    height:80px;
    background: rgb(255, 255, 255);
    margin: 8px 0;
    padding: 8px;
}
#cart-wrap{
    position: relative;
}
#cart {
    text-align: center;
}